@font-face {
  font-family: 'robotoregular';
  src: url("../fonts/Roboto-Regular.ttf") format('woff');
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: 'robotoitalic';
  src: url("../fonts/Roboto-Italic.ttf") format('woff');
  font-style: italic;
  font-weight: 400;
}
@font-face {
  font-family: 'robotobold';
  src: url("../fonts/Roboto-Bold.ttf") format('woff');
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: 'robotoblack';
  src: url("../fonts/Roboto-Black.ttf") format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'robotolight';
  src: url("../fonts/Roboto-Light.ttf") format('woff');
  font-weight: normal;
  font-style: normal;
}