/*==========  Desktop First Method  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {
	.animal_img svg{
		height: 200px;
		width: 200px;
	}

}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
	.mob_left{
		display: none;
	}
	.mob_right{
		
		width: 100%;
	}
	.work_scheme_img{
		background-size: cover;
		width: 66%;
		margin: auto;
	}
	.main_name_site{
		font-size: 4rem;
	}

	.animal_img svg{
		height: 150px;
		width: 150px;
	}
	.phone_wrap #pastemarkerend{
		display: none;
	}
		.menu_btn_all span{
		display: none;
	}
	.menu_btn{
		width: 60px;
		height: 60px;
		top: 54px;
		background-position: center center;
		border: 2px solid;
		left: 9px;
	}
	.text-in-about{
		padding: 0 95px;
	}

}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
	.main_name_site{
		font-size: 2.2rem;
	}
	.section__item .title_left, .section__item  .title_right{
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	}
	.section__item  .title_left{
		right: 0;
	}
	.section__item  .title_right{
		left: 0;
	}
	.logo_img{
		display: none;
	}
	.phone_wrap{
		top: 39%;
	    right: 100%;
	    width: 133px;
    	height: 34px;
	    white-space: nowrap;
	    text-align: right;
	    color: #90bf7d;
	    transform: translate(50%, -50%);
	    margin: 0;

	}
	.phone_wrap #pastemarkerend{
		display: none;
	}

	.work_scheme_img + h1 {
		top: 60px;
		font-size: 33px;
	}

	.menu_btn_all span{
		display: none;
	}
	.menu_btn{
		width: 60px;
		height: 60px;
		top: 20px;
		background-position: center center;
		border: 2px solid;
		left: 9px;
	}

	.animal_img svg{
		height: 100px;
		width: 100px;
	}

	.form_drop .error_message{
		position: initial;
		margin-bottom: 10px;	

	}
	.form_drop .error_message:before{
		display: none;
	}
	.work_scheme_img{
		display: none;
	}

	.mob_div{
		display: flex;
	}
	.h1-top{
		font-size: 41px;
		top: 56px;
	}

}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {
	.main_name_site{
		font-size: 1.7rem;
	}

	.menu_btn{
		width: 40px;
		height: 40px;
		background-position: center center;
		border: 2px solid;
		left: 9px;
	}

	.form{
		width: 250px;	
	}
	.text-in-about{
		padding: 0 67px;
	}
	.section__right{
		padding: 0;
	}
	.mob_div{
		font-size: 10px;
	}
	.h1-top{
		font-size: 41px;
		top: 56px;
	}

}

@media only screen and (max-height: 500px){
.work_scheme_img{
	width: 40%;
  margin: auto;
}
}


@media only screen and (max-height: 330px){
.work_scheme_img{
	width: 40%;
}
	.how_work {
	    display: flex;
	    /* justify-content: center; */
	    align-items: center;
	     flex-flow: row; 
	    margin-top: 0px;
	}
	.mob_div{
		 flex-flow: row; 
	}
}

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {

}


/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {

}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {

}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {

}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {

}

 /* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {

}