
.hands_svg{
	background-image: url(../i/hand.svg);
	  
	}
.hands_svg{
	background-image: url(../i/hand.svg);
	  
	}

.edit_svg{
	background-image: url(../i/edit.svg);
}
.man_svg{
	background-image: url(../i/man-working.svg);
}
.in-love{
	background-image: url(../i/in-love.svg);
}