.not_transition *{
  transition: none !important;
  -webkit-transition: none !important;
  -moz-transition: none !important;
  -ms-transition: none !important;
  -o-transition: none !important;
}
img, embed, object, video {
  max-width: 100%;
}
.Scroll{
  position: absolute;
  bottom: 0;
  left: -40px;
  transform: translateX(-50%);
}
.Scroll a {
  position: absolute;
  bottom: 20px;
  left: 50%;
  z-index: 2;
  display: inline-block;
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
  color: #fff;
  font : normal 400 20px/1 'Josefin Sans', sans-serif;
  letter-spacing: .1em;
  text-decoration: none;
  transition: opacity .3s;
}
.Scroll a:hover {
  opacity: .5;
}
#section03 a {
  padding-top: 60px;
}
#section03 a span {
  position: absolute;
  top: 0;
  left: 50%;
  width: 46px;
  height: 46px;
  margin-left: -23px;
  border: 2px solid #fff;
  border-radius: 100%;
  box-sizing: border-box;
}
#section03 a #pushName{display: none}
#section03 a span::after {
  position: absolute;
  top: 50%;
  left: 50%;
  content: '';
  width: 16px;
  height: 16px;
  margin: -12px 0 0 -8px;
  border-left: 1px solid #fff;
  border-bottom: 1px solid #fff;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  box-sizing: border-box;
}
#section03 a span::before {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  content: '';
  width: 44px;
  height: 44px;
  box-shadow: 0 0 0 0 rgb(158, 204, 42);;
  border-radius: 100%;
  opacity: 0;
  -webkit-animation: sdb03 3s infinite;
  animation: sdb03 3s infinite;
  box-sizing: border-box;
}
@-webkit-keyframes sdb03 {
  0% {
    opacity: 0;
  }
  30% {
    opacity: 1;
  }
  60% {
    box-shadow: 0 0 0 60px rgba(255,255,255,.1);
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
@keyframes sdb03 {
  0% {
    opacity: 0;
  }
  30% {
    opacity: 1;
  }
  60% {
    box-shadow: 0 0 0 60px rgba(255,255,255,.1);
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

.loader {
background: none repeat scroll 0 0 #ffffff;
bottom: 0;
height: 100%;
left: 0;
position: fixed;
right: 0;
top: 0;
width: 100%;
z-index: 9999; 
}

.loader .loader_inner {
 position: absolute;
 background-image: url(../i/preloader.gif);
 background-size: cover;
 background-repeat: no-repeat;
 background-position: center center;
 background-color: #fff;
 height: 307px;
 width: 307px;
 left: 50%;
 top: 50%;
 transform: translate(-50%,-50%);
  
  }
.nw{white-space: nowrap;}

.body_wrap{
  display: block;
  position: relative;
  top: 0;
  height: 100%;
  width: 100%;
  transition: all 0.4s ease-out;
  -webkit-transition: all 0.4s ease-out;
  -moz-transition: all 0.4s ease-out;
  -ms-transition: all 0.4s ease-out;
  -o-transition: all 0.4s ease-out;
/*  box-shadow: 0px 0px 40px 0px rgba(0,0,0,0.5);*/
}

.section{
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.section__item {
  display: inline-block;
  position: absolute;
  top: 0;
  width:50%;
  height: 100%;
  padding: 40px 0px;
  background-repeat: no-repeat;
  background-position: auto top;
  background-size: cover;
  padding-top: 110px;
}
.over{
  overflow-y: auto;
  overflow-x: hidden;
  word-wrap: break-word;
}
.map_skype:before{
  content: "";
  background-image: url(/i/skype.png);
 width: 16px;
width: 16px;
    height: 16px;
    display: inline-block;
    margin-left: 0;
    margin-right: 10px;
    margin-bottom: -4px;
    background-position-y: 0;
    background-repeat: no-repeat;
}
.map_email:before{
  content: "";
  background-image: url(/i/email.png);
 width: 16px;
width: 16px;
    height: 16px;
    display: inline-block;
    margin-left: 0;
    margin-right: 10px;
    margin-bottom: -4px;
    background-position-y: 0;
    background-repeat: no-repeat;
}
.work_scheme_img{
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
  }
  .how_work{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    /* flex-flow: column; */
    margin-top: 40px;
  }
  .how_work .svg{
  width: 45px;
  height: 48px;
  background-size: cover;
  background-position: center center;
  display: inline-block;
  vertical-align: middle;
  margin-right: 14px;
}
  .mob_div{
    display: none;
    flex-flow: column;
    background: #00000069;
    color: #fff;
    border-radius: 25px;
    padding: 12px;
  }
  .w{
       padding: 9px 15px;
  }

.section__item .title_left, .section__item .title_right{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
.section__item .title_left{
  right: 0;
}
.section__item  .title_right{
  left: 0;
}
.section__item:first-child{left: 1px;}
.section__item:last-child{right: 0px;}
.section__item_map{
  width: 100%;
  padding: 0px;
}
.section__left{
/*  padding-left: 40px;*/
}
.section__right{
  padding-right: 40px;
}
.section__item_before:before{
  content: "";
  display: inline-block;
  vertical-align: middle;
  height: 100%;
  width: 0px;
}
.section__left.section__item_before h1{
  top: 80px;
}
.section__item__content{
  display: inline-block;
  vertical-align: middle;
  width: 100%;
}

.menu_btn_all{
  display: inline-block;
  position: relative;
  padding-left: 42px;
  background-repeat: no-repeat;
  background-position: left center;
  opacity: 0.8;
  cursor: pointer;
}
.menu_btn{
  position: absolute;
  top: 40px;
  left: 40px;
  color: #fff;
  opacity: 0.8;
  font-size: 25px;
  cursor: pointer;
  z-index: 2;
}
.menu_btn_all:hover{
  opacity: 1;
}
.menu_btn_all:active{
  color: #5C7C11;
}

.main_menu{
  display: inline-block;
  position: fixed;
  top: 0px;
  left: -320px;
  width: 320px;
  height: 100%;
  background-color: #779f1f;
  z-index: 1000;
  transition: left 400ms;
  overflow: auto;
}
.main_menu_active .main_menu{
  left: 0px !important;
  box-shadow: 0px 0px 40px 0px rgba(0,0,0,0.5);
}
.main_menu_active .body_wrap,
.main_form_active .body_wrap{
  transform: scale(0.8);
  -webkit-transform: scale(0.8);
  -moz-transform: scale(0.8);
  -ms-transform: scale(0.8);
  -o-transform: scale(0.8);
  opacity: 0.5;
}
.body_wrap__wrap{
  display: block;
  width: 100%;
  height: 100%;
  transition: all 0.4s ease-out;
  -webkit-transition: all 0.4s ease-out;
  -moz-transition: all 0.4s ease-out;
  -ms-transition: all 0.4s ease-out;
  -o-transition: all 0.4s ease-out;
}
.main_form_active .body_wrap__wrap{
  transform: translateY(50%);
  -webkit-transform: translateY(50%);
  -moz-transform: translateY(50%);
  -ms-transform: translateY(50%);
  -o-transform: translateY(50%);
}

.vis_hidden{
  visibility: hidden !important;
}


.section__quarter_item{
  display: block;
  width: 50%;
  height: 50%;
  position: absolute;
  background-repeat: no-repeat;
  background-position: center center;
  text-align: center;
  transition: width 0.25s ease-in, height 0.25s ease-in, opacity 0.1s;
  cursor: pointer;
}
.section__quarter_item:after{
  content: "";
  display: inline-block;
  height: 100%;
  width: 0px;
  vertical-align: middle;
}
.section__quarter_item.quarter_tl{
  top: 0px;
  left: 0px;
  background-color: #3050e1;
}
.section__quarter_item.quarter_bl{
  bottom: 0px;
  left: 0px;
  background-color: #95af0a;
}
.section__quarter_item.quarter_tr{
  top: 0px;
  right: 0px;
  background-color: #f6846a;
}
.section__quarter_item.quarter_br{
  bottom: 0px;
  right: 0px;
  background-color: #62c496;
}

.section_drop .section__quarter_item{
  opacity: 0;
}

.section__quarter_item_active{
  opacity: 1 !important;
  z-index: 150 !important;
}

.section__quarter_item__content{
  display: none;
  width: 100%;
  height: 100%;
  background-position: center 119px;
  background-repeat: no-repeat
}

.section__quarter_item__content .text-in{
  overflow-y: auto;
  word-wrap: break-word;
  height: 100%;
  width: 65%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  color: #565656;
  font-size: 18px;
  background: #ffffff61;
  padding: 15px;
  letter-spacing: 1.2px; 
}
.section__quarter_item_active .section__quarter_item__content{
  display: block;
  cursor: default;
}
.section__quarter_item_animate .section__quarter_item__content{
  display: none !important;
}
.section__item_active .section__quarter_item{
  z-index: 140;
}
.section__quarter_item_active .animal_img{
  display: none;
}


.transition_600ms{
  transition: all 600ms ease-in;
  -webkit-transition: all 600ms ease-in;
  -moz-transition: all 600ms ease-in;
  -ms-transition: all 600ms ease-in;
  -o-transition: all 600ms ease-in;
  background: rgba(10, 10, 10, 0.50);
}


.animal_img{
  display: inline-block;
  position: relative;
  vertical-align: middle;
  width: 100%;
  height: 100%;
  color: #fff;
  font-size: 30px;
  margin: 0px;
  cursor: pointer;
}

.animal_img svg{
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  fill: #fff;
  height: 250px;
  width: 250px;
  transition: all .4s ease-in-out;
}
.animal_beef{
  top: -15px;
}
 #animal_beef,#html-5,#js,#css, .animal_img:hover svg{
  stroke-width: 5px;
  stroke: #fff; 
}
#animal_beef:hover .animal_img svg{
  fill:#3050e1;
}
#js:hover  .animal_img svg{
   fill:#f6846a;
}
#css:hover  .animal_img svg{
   fill:#62c496;
}
#html-5:hover .animal_img  svg{
   fill:#95af0a;
}
/* .section__quarter_item:hover .animal_img div{
  bottom: 20px;
} */
.animal_img div{
  position: absolute;
  bottom: 0px;
  left: 0px;
  background-position: center center;
  background-repeat: no-repeat;
  transition: all 0.2s;
}

.main_menu__t{
  display: block;
  padding: 40px;
  font-size: 25px;
  color: #fff;
}

.main_menu__b{
  display: block;
  position: relative;
  margin: 0px;
  padding: 15px 20px;
  list-style: none;
}
.main_menu__b__link{
  display: block;
  position: relative;
  right: 15px;
  padding: 12px 20px;
  margin: 5px 0;
  color: #fff;
  text-decoration: none;
  font-family: 'robotolight';
  font-size: 18px;
  border: 1px solid transparent;
}
.main_menu__b__link:after{
 content: "";
     display: none;
     position: absolute;
     top: 0px;
     right: -30px;
     border-top: 27px solid transparent;
     border-left: 29px solid #5c8215;
     border-bottom: 25px solid transparent;
     z-index: -1;
}
.main_menu__b__link:hover{
  color: #fff;
  background: #5c8215;
}
.main_menu__b__link:hover:after{
  display: inline-block;
  background-position: left bottom;
}
.main_menu__b__link_active,
.main_menu__b__link:active{
  color: #fff;
  background-color: #5c8215;
  border-color: transparent !important;
}
.main_menu__b__link_active:after,
.main_menu__b__link:active:after{
  display: inline-block;
  background-position: left top !important;
}

.section__item_active{
  z-index: 2;
}


.section__quarter_item__close{
  display: inline-block;
  position: absolute;
  top: 28px;
  right: 29px;
  height: 24px;
  width: 24px;
  opacity: 0.8;
  cursor: pointer;
}
  .section__quarter_item__close:hover{
    opacity: 1;
  }

.main_menu_active .section__quarter_item.section__quarter_item_active{
  transition: all 0s !important;
}


.section__left{
  background-position: right top !important;
}

h1,
h2{
  font-family: 'robotoblack';
  font-weight: normal;
  text-align: center;
  margin: 0;
}
h1{
  position: absolute;
  top: 40px;
  width: 100%;
  font-size: 50px;
  color: #9ecc2a;
}
h2{
  font-size: 40px;
  color: #ffffff;
  padding-top: 40px;
}
.text-in-about{
  position: absolute;
  top: 20px;
  padding: 0 57px;
}
.text-in-about h1{position: relative;} 

.section__quarter_item__content__image{
  display: block;
  width: 100%;
  height: 100%;
}

.main_name_site{
  display: block;
  font-family: 'robotoblack';
  font-size: 80px;
  color: #ffffff;
}

.logo{
  display: inline-block;
  position: absolute;
  top: 40px;
  background-repeat: no-repeat;
 width: 138px;
 height: 65px;
}
.logo_left{
  right: 0px;
  background-position: left top;
}
.logo_right{
  left: 0px;
  background-position: right top;
}

.form_drop{
  position: absolute;
  top: 0px;
  width: 100%;
  height: 50%;
  padding: 20px 0px;
  opacity: 0;
  text-align: center;
  transition: transform 0.4s ease-in, opacity 0.2s ease-in;
  -webkit-transition: -webkit-transform 0.4s ease-in, opacity 0.2s ease-in;
  -moz-transition: -moz-transform 0.4s ease-in, opacity 0.2s ease-in;
  -ms-transition: -ms-transform 0.4s ease-in, opacity 0.2s ease-in;
  -o-transition: -o-transform 0.4s ease-in, opacity 0.2s ease-in;
  transform: scale(0.5);
  -webkit-transform: scale(0.5);
  -moz-transform: scale(0.5);
  -ms-transform: scale(0.5);
  -o-transform: scale(0.5);
}

.form_drop:before{
  content: "";
  display: inline-block;
  width: 0px;
  height: 100%;
  vertical-align: middle;
}

.form_drop form{
  display: inline-block;
  vertical-align: middle;
}

.main_form_active .form_drop{
  transform: scale(1);
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  opacity: 1;
  z-index: 10;
}

.form_drop input[type="text"],
.form_drop input[type="submit"]{
  font-size: 14px !important;
  height: 40px;
  margin-bottom: 10px;
}
.form_drop input[type="submit"]{
  margin-top: 5px;
}

.inp_wrap{
  position: relative;
}

.form_drop .error_message{
  top: 8px;
  left: 100%;
  margin-left: 5px;
  margin-top: 0px;
}
.form_drop .error_message:before{
  top: 1px;
  left: -20px;
  border: 11px solid transparent;
  border-right: 10px solid #E7484D;
  border-bottom: 11px solid transparent;   
}

.error_message{
  position: absolute;
  top: 100%;
  left: 0px;
  white-space: nowrap;
  padding: 3px 5px;
  background-color: #E7484D;
  color: #fff !important;
  border-radius: 4px;
  font-size: 13px;
  margin-top: 4px;
}
.error_message:before{
  content: "";
  display: inline-block;
  position: absolute;
  top: -10px;
  left: 13px;
  border: 5px solid transparent;
  border-bottom: 5px solid #E7484D;
}

.overlay{
  display: none;
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.9);
  z-index: 2000;
  text-align: center;
}
.overlay__box{
  display: inline-block;
  vertical-align: middle;
  min-width: 400px;
  max-width: 650px;
  color: #fff;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  height: 30%;
}

.section__item_map__inf_wrap{
  position: absolute;
  bottom: 26px;
  right: 6px;
  z-index: 10;
}
.section__item_map__inf_box {
  display: block;
  background-color: rgba(0,0,0,0.7);
  padding: 10px 20px;
  color: #fff;
  margin-bottom: 1px;
  font-size: 15px;
  font-family: 'robotoregular';
  font-weight: normal;
}
.section__item_map__inf_box__active {
  margin-left: -15px;
}

.section__item_map__inf_box__h{
  font-size: 20px;
  font-family: 'robotoblack';
  font-weight: normal;
  text-align: center;
    width: 100%;
    display: block;
}

.bg_white{
  background-color: #fff;
}

.txt_color_green{
  color: #698e0c;
}
.txt_color_green_light{
  color: #99cd24;
}

.reason_item{
  padding-left: 90px;
  background-repeat: no-repeat;
  background-position: left top;
  margin-bottom: 40px;
  min-height: 56px;
}

.form{
  display: inline-block;
  vertical-align: middle;
  width: 300px;
}

.btn_all{
  display: inline-block;
  outline: 0;
  border: 0;
  font-size: 20px;
  color: #ffffff;
  cursor: pointer;
  width: 100%;
  height: 50px;
  border-radius: 2px;
}

.btn_green{
  background: -webkit-gradient(linear, top , top, from(#bad746), to(#a2bc3a));
  background: -webkit-linear-gradient(top, #bad746, #a2bc3a);
  background: -moz-linear-gradient(top, #bad746, #a2bc3a);
  background: -ms-linear-gradient(top, #bad746, #a2bc3a);
  background: -o-linear-gradient(top, #bad746, #a2bc3a);
  background-image: -ms-linear-gradient(top, #bad746 0%, #a2bc3a 100%);
}
.btn_green:hover{
  background: -webkit-gradient(linear, top , top, from(#caea4b), to(#b7d63c));
  background: -webkit-linear-gradient(top, #caea4b, #b7d63c);
  background: -moz-linear-gradient(top, #caea4b, #b7d63c);
  background: -ms-linear-gradient(top, #caea4b, #b7d63c);
  background: -o-linear-gradient(top, #caea4b, #b7d63c);
  background-image: -ms-linear-gradient(top, #caea4b 0%, #b7d63c 100%);
}
.btn_green:active{
  box-shadow: inset 0px 10px 20px 0px rgba(0, 0, 0, 0.5);
  background: -webkit-gradient(linear, top , top, from(#bad746), to(#a2bc3a));
  background: -webkit-linear-gradient(top, #bad746, #a2bc3a);
  background: -moz-linear-gradient(top, #bad746, #a2bc3a);
  background: -ms-linear-gradient(top, #bad746, #a2bc3a);
  background: -o-linear-gradient(top, #bad746, #a2bc3a);
  background-image: -ms-linear-gradient(top, #bad746 0%, #a2bc3a 100%);
}

.phone_wrap{
  display: inline-block;
  position: absolute;
  top: 54px;
  right: 0%;
  white-space: nowrap;
  text-align: right;
  color: #ffffff;
  margin-right: 30px;
}
.phone_block{
  display: inline-block;
  vertical-align: middle;
  font-size: 14px;
  font-family: 'robotolight';
  font-weight: normal;
  margin-top: 20px;
}
.phone_wrap__link{
  display: inline-block;
  vertical-align: middle;
  text-decoration: none;
  color: #ffffff;
  border: 1px solid #fff;
  font-size: 12px;
  border-radius: 5px;
  padding: 7px 15px;
  margin-right: 64px;
  background: #9ecc2a
}
.phone_wrap__link:hover{
  background-color: #fff;
  color: #9ecc2a;
}
.phone_wrap__link:active{
  opacity: 0.5;
}

.meat_advanced{
  display: inline-block;
  position: absolute;
  bottom: 100px;
  width: 100%;
  right: 40px;
  color: #000;
  background: #ffffff61;
  padding: 15px;
  border-radius: 25px;
  letter-spacing: 1.2px;  
}

.meat_advanced.meat_advanced_red{
  width:370px;
  right: 265px;
  bottom: 240px;
}
.meat_advanced.meat_advanced_orange{
   width: 75%;
   min-width: 250px;
   top: 50%;
   left: 50%;
   transform: translate(-50%);
   margin: auto;
   height: 100%;
   overflow: auto;
}
.meat_advanced.meat_advanced_green{
  width:540px;
  right: 350px;
  bottom: 160px;
}
.meat_advanced.meat_advanced_blue{
  width:460px;
  bottom: 210px;
  right: 300px;
}

.meat_advanced__item{
  position: relative;
  border-top: 1px solid #fff;
  margin-top: 40px; 
}

.meat_advanced__item_name{
  display: inline-block;
  position: absolute;
  top: -14px;
  left: 0px;
  padding-right: 5px;
  font-size: 20px;
  font-family: 'robotobold';
  font-weight: normal;
  line-height: 20px;
}
.meat_advanced_red .meat_advanced__item_name{
  background-color: #e1303d;
}
.meat_advanced_orange .meat_advanced__item_name{
  background-color: #f6846a;
}
.meat_advanced_green .meat_advanced__item_name{
  background-color: #95af0a;
}
.meat_advanced_blue .meat_advanced__item_name{
  background-color: #62c496;
}
.meat_advanced__item td{
  padding: 5px;
  padding-right: 40px;
  padding-left: 0px;
  text-align: left;
  white-space: nowrap;
  width: 33%;
}
.meat_advanced__item table{
  margin-top: 10px;
  opacity: 0.6;
}

.main_menu__b__link_atma {
  display: inline-block;
  text-align: center;
  bottom: 20px;
  left: 0px;
  background-repeat: no-repeat;
  background-position: 20px 11px;
  padding-left: 109px;
  padding-top: 20px;
  color: #fff;
  font-size: 10px;
  padding-bottom: 20px;
  text-decoration: none;
  line-height: 12px;
}

.bg_grey {
  background-color: #a7a7a7;
}

.bg_red {
  background-color: #e87e7e;
}

.bg_yellow {
  background-color: #dbdb74;
}

.bg_purple{
  background-color: #770a34;
}
.bg_pink{
  background-color: #fc8686;
}
.bg_my-works{
  background: #6190E8;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #A7BFE8, #6190E8);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #A7BFE8, #6190E8); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}
.bg_width_100{
  width: 100%;
  margin: 0;
  padding: 0;
}
.bg_green{
  background-color: #b7ffb4;
}
.section__item_map__inf_box__table {
  padding: 0px 7px;
}
.section__item_map__inf_box__table td{
  padding: 5px;
}

.skype_link{
  display: inline-block;
  position: relative;
  text-decoration: none;
  color: #fff;
  padding-left: 20px;
  background-image: url(../i/skype.png);
  background-repeat: no-repeat;
  background-position: left center;

}
.skype_link:hover{
  opacity: 0.8;
}
.skype_link:active{
  color: #888;
}

.lang_toggle{
  display: inline-block;
  position: absolute;
  top: 80px;
  left: 40px;
  height: 20px;
  color: #fff;
  font-size: 20px;
  font-family: 'robotolight';
  font-weight: normal;
  line-height: 20px;
  z-index: 2;
}

.lang_toggle__item{
  display: inline-block;
  height: 20px;
  vertical-align: middle;
}
.lang_toggle__toggle{
  position: relative;
  border: 1px solid #fff;
  border-radius: 10px;
  width: 40px;
  top: 2px;
  margin: 0 12px;
  opacity: 0.8;
  cursor: pointer;
}
.lang_toggle__toggle:hover{opacity: 1;}
.lang_toggle__toggle:before{
  content: "";
  position: absolute;
  display: inline-block;
  width: 14px;
  height: 14px;
  background-color: #fff;
  top: 2px;
  left: 2px;
  border-radius: 7px;
}
.lang_toggle__toggle_en:before{
  left: auto;
  right: 2px;
}
.lang_toggle__green{
  color: #85b208;
}
.lang_toggle__green .lang_toggle__toggle{
  border-color: #85b208; 
}
.lang_toggle__green .lang_toggle__toggle:before{
  background-color: #85b208; 
}
.map_pin_changer {
  cursor: pointer;
  font-size: 18px;
}
.map_pin_changer_active::before {
  content: '';
  display: block;
  background-image: url(/i/pin.png);
  width: 13px;
  height: 19px;
  position: absolute;
  margin-left: -23px;
  margin-top: 1px;
}
.section__item_map__inf_box__children
.section__item_map__inf_box__h {
  font-size: 15px;
}

.section__item_map__inf_box__children
.section__item_map__inf_box__table {
  padding: 0px 7px;
  font-size: 15px;
}

.section__item_map__inf_box__hr {
  background: rgba(255,255,255,.2);
  padding-bottom: 1px !important;
  display: block;
  position: absolute;
  left: 0px;
  right: 0px;
  margin-top: 2px;
  border: none;
  height: 2px;
}

.section__item_map__inf_box__preview {
  cursor: pointer;
}
.section__item_map__inf_box__preview table td {
  padding: 0px !important;
}
.preview_name {
  border-bottom: 1px dashed #fff;
}
.section__item_map__inf_box__inner_right
{
  padding-right: 10px;
}
.section__item_map__inf_box__inner_left
{
  padding-left: 10px;
}
.branch_name {
  font-size: 25px;
  margin-left: 10px;
  cursor: pointer;
}
.branch_name_active::before {
  content: '';
  background-image: url(/i/pin.png);
  width: 13px;
  height: 19px;
  display: inline-block;
  margin-left: -23px;
  margin-right: 10px;
  margin-bottom: -1px;
}

.my_work_section{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-flow: column nowrap;
}
.my_work_section h2{
  text-shadow: 4px 2px 3px black;
  color: #8db43d;
}
.my_work_section__box{
  display: flex;
  justify-content: center;
  flex-flow: row wrap;

}
.my_work_section__box .item, .mfp-content .item{
  position: relative;
  margin:0 15px;
  width: 250px;
  height: 250px;
}

.my_work_section__box .item .text__in, .mfp-content .item .text__in{
  position: absolute;
  left:  0;
  right: 0;
  top: 0;
  bottom: 0; 
  margin: auto;
  transition: all .8s ease-out;

}
.my_work_section__box .item .text__in::before,.mfp-content .item .text__in::before,
.my_work_section__box .item .text__in::after,.mfp-content .item .text__in::after{
  position: absolute;
  top: 10px;
  right: 10px;
  bottom: 10px;
  left: 10px;
  content: '';
  opacity: 0;
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity .4s, transform .5s ease-in;
}

.my_work_section__box .item .text__in::before,.mfp-content .item .text__in::before {
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
  -webkit-transform: scale(0, 1);
  transform: scale(0, 1);
}

.my_work_section__box .item .text__in::after, .mfp-content .item .text__in::after{
  border-right: 1px solid #fff;
  border-left: 1px solid #fff;
  -webkit-transform: scale(1, 0);
  transform: scale(1, 0);
  box-sizing: border-box;

}
.my_work_section__box .item a:hover .text__in::before,.mfp-content .item a:hover .text__in::before,
.my_work_section__box .item a:hover .text__in::after, .mfp-content .item a:hover .text__in::after, {
  opacity: 1;
  -webkit-transform: scale(1);
  transform: scale(1);
}
.my_work_section__box .item  a:hover .text__in, .mfp-content  .item  a:hover .text__in{
   background: rgba(21, 20, 20, .7);   
}
.my_work_section__box .item p,.mfp-content  .item p{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -100%);
  color: #fff;
  background: rgba(97, 91, 85, 0.82);
  font-size: 1.7rem;
  border: 2px solid rgba(97, 91, 85, 1);
  padding: 3px;
  border-radius: 6px;
  transition: all .9s;
  }
  .my_work_section__box .item a:hover p, .mfp-content  .item a:hover p{
    border-color: #fff;
     background: initial;   
  }

.my_work_section__box .item img{
  box-shadow: 3px 8px 14px 0px #161617;
  width: inherit;
  height: inherit;
}
#show-more{
  flex-basis: 100%;
  text-align: center;
  margin-top: 25px;
}
#show-more a{
  text-decoration: none;
  position: relative;
  background: #615b55;
  display: inline-block;
  padding: 10px;
  border-radius: 9px;
  color: #fff;
  box-shadow: 0 0 3px #fff;
  overflow: hidden;
  outline: none;
  transition: box-shadow .5s; 
  border: 2px inset transparent;
}
#show-more a:hover{
  box-shadow: 0px 0px 29px #fff;
  border: 2px inset rgba(255, 255, 255, 0.4);
}

#show-more a:after,#show-more a:before{
  content: '';
  position: absolute;
  width: 100px;
  height: 15px;
  background: rgba(255, 255, 255, 0.41);
  display: block; 
  top: 0;
  transition: all .5s;
  opacity: .2;
}
#show-more a:after,#show-more a:before{
      left: -64px;
     transform: rotate(-46deg);

}
#show-more a:before{
   transition: all .7s;
   background: rgba(255, 255, 255, 0.2);
}
#show-more a:hover:after,#show-more a:hover:before{
  left: 100%;
  top: 40px;
  opacity: 1;
}

.mfp-content{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
 
  margin: auto;
  text-align: center;
  vertical-align: middle;
  display: table;
}
.mfp-content .item{
  width: 250px;
  display: inline-block;
  margin: 10px;
}